body, html {
    height: 100%;
}

body > .container-fluid, body > .container-fluid > .row {
    height: 100%;
}

.gutter {
    float: left;
    height: 100%;
}

#text {
    background-color: #f8f8f8;
}

#text .row {
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #efefef;
}

.tab-content {
    width: 100%;
    padding-top: 75%;
    position: relative;
}

.tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#text > .container-fluid, #visualization > .container-fluid {
    height: 100%;
    overflow-y: auto;
}

#text h1, #text h2, #text h3, #text h4, #text h5, #text h6 {
    margin: 0 0 20px;
}

#visualization, #text {
    float: left;
    height: 100%;
}

#visualization #sunburst, #visualization #data {
    padding: 20px;
}


.split p, .split-flex p {
  padding: 20px;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('../img/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('../img/horizontal.png');
  cursor: ns-resize;
}

.scroll {

}

#collapse-text-button {
    margin-bottom: 20px;
}
