<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Visualization: Text Mining</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/index.min.css" rel="stylesheet" />
    </head>
    <body>
        <a href="#" id="back-to-top"><span class="glyphicon glyphicon-menu-up"></span></a>
        <div class="container-fluid">
            <div class="row">
                <div id="visualization">
                    <div class="container-fluid">
                        <div class="row">

                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Text Mining Visualization</a>
                                    </div>

                                    <form class="navbar-form navbar-left">
                                        <div class="form-group">
                                            <!--<label for="document-selector">Select document</label>
                                            <select name="document" class="form-control" id="document-selector">
                                                <option value="1">Dokument #1</option>
                                                <option value="2">Dokument #2</option>
                                                <option value="3">Dokument #3</option>
                                            </select>-->
                                            <label for="document-analysis">Select analysis</label>
                                            <select name="analysis" class="form-control" id="document-analysis">
                                                <option value="1">Wordcount</option>
                                                <option value="2">Sentence Length</option>
                                                <option value="3">Punctuation</option>
                                                <option value="4">Stopwords</option>
                                            </select>
                                            <!--<button type="submit" class="btn btn-primary" id="document-selector-submit">Auswählen</button>-->
                                        </div>
                                    </form>
                                </div>
                            </nav>

                            <div id="sunburst">
                                <ul class="nav nav-tabs" role="tablist" id="tabs">
                                    <li role="presentation" class="active">
                                        <a href="#sunburst-tab" data-toggle="tab">Sunburst</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tree-tab" data-toggle="tab">Tree</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="nav-viz-tabContent">
                                    <div role="tabpanel" class="tab-pane active" id="sunburst-tab">
                                        <div class="legend-container" id="LContainer"></div>
                                        <div class="sunburst-container" id="SBContainer"></div>
                                        <div class="sbSlider-container" id="SBSliderContainer"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tree-tab">
                                        <div class="tree-container" id="TreeContainer"></div>
                                        <div class="sbSlider-container" id="TreeSliderContainer"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="data">
                                <ul class="nav nav-tabs" role="tablist" id="data-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#bubble-tab" data-toggle="tab">Bubble Chart</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="nav-tabContent">
                                    <div role="tabpanel" class="tab-pane active" id="bubble-tab">
                                        <div class="detail-container" id="DTContainer">
                                            <div class="text-container" id="TContainer"></div>
                                            <div class="bubble-container" id="BUContainer"></div>
                                            <div class="buSlider-container" id="BUSliderContainer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="text">
                    <div id="overlay">
                        <div class="circle-container">
                            <div class="sk-fading-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <header>
                                <h1></h1>
                            </header>
                            <article>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/lib/split/split.js"></script>
        <script src="assets/js/index.min.js"></script>
    </body>
</html>
