<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Visualistik: Text Mining</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/index.min.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
            <form class="form-inline">
                <select name="document" class="form-control mr-sm-2" id="document-selector">
                    <option value="1">Dokument #1</option>
                    <option value="2">Dokument #2</option>
                    <option value="3">Dokument #3</option>
                </select>
                <select name="analysis" class="form-control mr-sm-2">
                    <option value="1">Redundanzen</option>
                    <option value="2">Satzzeichen</option>
                    <option value="3">Satzlänge</option>
                    <option value="4">Satzzeichen</option>
                    <option value="5">Fullwörter</option>
                    <option value="6">Nominalstil</option>
                </select>
                <button type="submit" class="btn btn-primary my-2 my-sm-0" id="document-selector-submit">Auswählen</button>
            </form>
        </nav>
        <div class="container-fluid" id="container">
            <div class="row">
                <div id="visualization">
                    <div class="scroll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="btn btn-primary float-right" id="collapse-text-button">&raquo;</a>
                                </div>
                            </div>
                            <div id="sunburst">
                                <div class="graph-container">
                                    <div class="legend-container" id="LContainer"></div>
                                    <div class="sunburst-container" id="SBContainer"></div>
                                </div>
                                <div class="breadcrumb-container" id="BCContainer"></div>
                            </div>
                            <div id="data">
                                <nav class="nav nav-tabs" id="dataTab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-stats-tab" data-toggle="tab" role="tab" href="#nav-stats">Statistik</a>
                                    <a class="nav-item nav-link" id="nav-list-tab" data-toggle="tab" role="tab" href="#nav-list">Details</a>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-stats" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="text">
                    <div class="scroll">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <header>
                                <h1>Der Titel des Dokuments</h1>
                            </header>
                            <article>
                                <h1 id="section-1" data-id="1">Section</h1>
                                <p id="paragraph-1" data-id="1">
                                    <span id="sentence-1" class="sentence" data-id="1">
                                        <span id="token-1" class="token" data-id="1" data-pos="NN">Lorem</span>
                                        <span id="token-2" class="token" data-id="2" data-pos="VBJ">ipsum</span>
                                        <span id="token-3" class="token" data-id="3">dolor</span>
                                        <span id="token-4" class="token" data-id="4">sit</span>
                                        <span id="token-5" class="token" data-id="5">amet</span>
                                        <span id="token-6" class="token" data-id="6">,</span>
                                        <span id="token-7" class="token" data-id="7">consectetur</span>
                                        <span id="token-8" class="token" data-id="8">adipisicing</span>
                                        <span id="token-9" class="token" data-id="9">elit</span>
                                        <span id="token-10" class="token" data-id="10">,</span>
                                        <span id="token-11" class="token" data-id="11">sed</span>
                                        <span id="token-12" class="token" data-id="12">do</span>
                                        <span id="token-13" class="token" data-id="13">eiusmod</span>
                                        <span id="token-14" class="token" data-id="14">tempor</span>
                                        <span id="token-15" class="token" data-id="15">incididunt</span>
                                        <span id="token-16" class="token" data-id="16">ut</span>
                                        <span id="token-17" class="token" data-id="17">labore</span>
                                        <span id="token-18" class="token" data-id="18">et</span>
                                        <span id="token-19" class="token" data-id="19">dolore</span>
                                        <span id="token-20" class="token" data-id="20">magna</span>
                                        <span id="token-21" class="token" data-id="21">aliqua</span>
                                        <span id="token-22" class="token" data-id="22">.</span>
                                    </span>
                                    <span id="sentence-2" class="sentence" data-id="2">
                                        <span id="token-23" class="token">Ut</span>
                                        <span id="token-24" class="token">enim</span>
                                        <span id="token-25" class="token">ad</span>
                                        <span id="token-26" class="token">minim</span>
                                        <span id="token-27" class="token">veniam</span>
                                        <span id="token-28" class="token">,</span>
                                        <span id="token-29" class="token">quis</span>
                                        <span id="token-30" class="token">nostrud</span>
                                        <span id="token-31" class="token">exercitation</span>
                                        <span id="token-32" class="token">ullamco</span>
                                        <span id="token-33" class="token">laboris</span>
                                        <span id="token-34" class="token">nisi</span>
                                        <span id="token-35" class="token">ut</span>
                                        <span id="token-36" class="token">aliquip</span>
                                        <span id="token-37" class="token">ex</span>
                                        <span id="token-38" class="token">aliquip</span>
                                        <span id="token-39" class="token">ea</span>
                                        <span id="token-40" class="token">commodo</span>
                                        <span id="token-41" class="token">consequat</span>
                                        <span id="token-42" class="token">.</span>
                                    </span>
                                    <span id="sentence-3" class="sentence" data-id="3">
                                        <span id="token-43" class="token">Duis</span>
                                        <span id="token-44" class="token">aute</span>
                                        <span id="token-45" class="token">irure</span>
                                        <span id="token-46" class="token">dolor</span>
                                        <span id="token-47" class="token">in</span>
                                        <span id="token-48" class="token">reprehenderit</span>
                                        <span id="token-49" class="token">in</span>
                                        <span id="token-50" class="token">voluptate</span>
                                        <span id="token-51" class="token">velit</span>
                                        <span id="token-52" class="token">esse</span>
                                        <span id="token-53" class="token">cillum</span>
                                        <span id="token-54" class="token">dolore</span>
                                        <span id="token-55" class="token">eu</span>
                                        <span id="token-56" class="token">fugiat</span>
                                        <span id="token-57" class="token">nulla</span>
                                        <span id="token-58" class="token">pariatur</span>
                                        <span id="token-59" class="token">.</span>
                                    </span>
                                    <span id="sentence-4" class="sentence" data-id="4">
                                        <span id="token-60" class="token">Excepteur</span>
                                        <span id="token-61" class="token">sint</span>
                                        <span id="token-62" class="token">occaecat</span>
                                        <span id="token-63" class="token">cupidatat</span>
                                        <span id="token-64" class="token">non</span>
                                        <span id="token-65" class="token">proident</span>
                                        <span id="token-66" class="token">,</span>
                                        <span id="token-67" class="token">sunt</span>
                                        <span id="token-68" class="token">in</span>
                                        <span id="token-69" class="token">culpa</span>
                                        <span id="token-70" class="token">qui</span>
                                        <span id="token-71" class="token">officia</span>
                                        <span id="token-72" class="token">deserunt</span>
                                        <span id="token-73" class="token">mollit</span>
                                        <span id="token-74" class="token">anim</span>
                                        <span id="token-75" class="token">id</span>
                                        <span id="token-76" class="token">est</span>
                                        <span id="token-77" class="token">laborum</span>
                                        <span id="token-78" class="token">.</span>
                                    </span>
                                </p>
                                <h2 data-id="1">Subsection</h2>
                                <p data-id="2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <h3 data-id="1">SubSubSection</h3>
                                <p data-id="3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </article>
                        </div>

                    </div>
                </div>

                </div>

                </div>
            </div>
        </div>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/d3.min.js"></script>
        <script src="assets/js/lib/split/split.js"></script>
        <script src="assets/js/index.min.js"></script>
    </body>
</html>
